@{
    ViewBag.Title = "GestionEMS";
}

<div class="jumbotron">
    <h1>Práctica EMS</h1>
    <p>Aplicación destinada a la gestión de la asignatura Evolución y Mantenimiento Software</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestión de Profesores</h2>
        <p>
            
            <img class="centrada" src="~/Images/descarga.png" height="250" width="300" />
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Gestión de Alumnos</h2>
        <p><img class="centrada" src="~/Images/alumnos.png" height="250" width="300" /></p>
        
    </div>
    <div class="col-md-4">
        <h2>Gestión Evaluaciones</h2>
        <p><img class="centrada" src="~/Images/evaluaciones.png" height="250" width="300" /></p>
        
    </div>
</div>